:root {
    --Color-01: #3c3c3c;
    --Background-C: ;
    --fontF1:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --FontF2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--FontF2);
  background-color: var(--Background-C);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
    padding: 5px;
    padding-top: 0px;
    font-size: 80px;
    font: "Arial";
    color:var(--Color-01);
}

.message {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    font: var(--fontF1);
    color:var(--Color-01);
}

.card {
  background-color: var(--Card-C);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: #00000026 0px 2px 8px 0px;
  color: var(--Card-Text);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}